<div class="row">
	<div class="span3 offset1">
		<h4><%= data.item %> Attribute</h4>
	</div>
	<div class="span4">
		<h4><%= data.item %> Value</h4>
	</div>
	<div class="span1 offset1">
		<a data-addAttribute class="btn btn-small">Add</a>
	</div>
</div>