<div class="row">
	<div class="span3 offset1">
		<h4>Meta Attribute</h4>
	</div>
	<div class="span4">
		<h4>Meta Value</h4>
	</div>
	<div class="span1 offset1">
		<a data-addMeta class="btn btn-small">Add</a>
	</div>
</div>
