<div class="control-group">
  <label class="control-label">Template:</label>
  <div class="controls">
    <div class="row">
    	<div class="span6">
      		<div id="templates" style="width:100%; display:none;"></div>
      	</div>
    </div>
    <span class="help-block">Optional: Select a template rather than DOM manipulation to create the element.</span>
  </div>
</div>